name: Website Uptime Monitor
on:
  # schedule:
  #   - cron: '*/10 * * * *'
  workflow_dispatch:

permissions:
  contents: write
  issues: write

jobs:
  uptime-check:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v5
      
      - name: Monitor websites
        uses: cd-roman/uptime-monitor@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          sites: |
            https://httpbin.org/status/200
            https://httpbin.org/status/404
            https://httpbin.org/status/500
            https://httpbin.org/delay/15
          timezone: "Europe/Paris"
          timeout: "10"
